@using WebApplication4.Models
@model List<User>
@{
    ViewData["Title"] = "Index";
}




<table class="table">
  <thead>
      
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Adresss</th>
      <th scope="col">SocialMedya</th>
            <th scope="col">Delete</th>


      <th scope="col">Update</th>


    </tr>
  </thead>
  <tbody>
      @foreach (var item in Model)
        {
            
        
    <tr>
      <td>@item.Name</td>
            <td>@item.Description</td>
                        <td>@item.Adress</td>
                                                <td>@item.SocialMedias</td>




      
    


      <td><a  asp-area="Areass" asp-controller="Home" asp-action="Delete"  asp-route-Id="@item.Id"  class="btn btn-primary" >Deletee</a>
</td>
<td><a  asp-area="Areass" asp-controller="Home" asp-action="Updatee"   asp-route-Id="@item.Id" class="btn btn-danger">Update</a>
</td>
    </tr>
   

        }
  </tbody>
</table>
